<form [formGroup]="form" (submit)="onSaveChannelFields()" *ngIf="!isLoading">
  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="field_name"
      [matAutocomplete]="auto"
      placeholder="Field name"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        field_name: {{ option.field_name }} field_value:
        {{ option.field_value }} description:
        {{ option.description }} group_name:
        {{ option.group_name }} group_value: {{ option.group_value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div [class]="isFieldChannelMatch ? 'selected' : 'not-selected'">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="field_value"
        [readonly]="isFieldChannelMatch"
        placeholder="Field value"
      />
      <mat-error *ngIf="form.get('field_value').invalid"
        >Please enter field value.</mat-error
      >
    </mat-form-field>
  </div>

  <div [class]="isFieldChannelMatch ? 'selected' : 'not-selected'">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="description"
        [readonly]="isFieldChannelMatch"
        placeholder="Description"
      />
      <mat-error *ngIf="form.get('field_value').invalid"
        >Please enter the fields description.</mat-error
      >
    </mat-form-field>
  </div>
  <div [class]="isFieldChannelMatch ? 'selected' : 'not-selected'">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="group_name"
        [readonly]="isFieldChannelMatch"
        placeholder="Group name"
      />
      <mat-error *ngIf="form.get('group_name').invalid"
        >Please enter group name.</mat-error
      >
    </mat-form-field>
  </div>

  <div [class]="isFieldChannelMatch ? 'selected' : 'not-selected'">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="group_value"
        [readonly]="isFieldChannelMatch"
        placeholder="Group values"
      />
      <mat-error *ngIf="form.get('group_value').invalid"
        >Please enter group value.</mat-error
      >
    </mat-form-field>
  </div>

  <button mat-raised-button color="accent" type="submit">
    {{ saveButtonText }}
  </button>
</form>
