<div>
  <form [formGroup]="form">
    <button class="btn btn-primary" (click)="addField()">Add Field</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Field</th>
        </tr>
      </thead>
      <tbody formArrayName="fields">
        <tr
          [formGroupName]="i"
          *ngFor="let field of fields.controls;let i = index;"
        >
          <th scope="row">{{i+ 1}}</th>
          <td>
            <input type="text" formControlName="label" class="form-control" />

            <small
              class="form-text text-danger"
              *ngIf="getField(i).controls['label'].errors"
            >
              {{getField(i).controls["label"].errors?.["unique"]?.message}}
              <br />
            </small>
          </td>
        </tr>
      </tbody>
    </table>

    <button [disabled]="!form.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
