<button class="mat-button-main" (click)="toggleExpandAllElements()">
  {{ !isExpandAll ? 'Expand All' : 'Collapse All' }}
</button>
<button class="mat-button-main">Undo Changes</button>
<button class="mat-button-main">Logs</button>
<button class="mat-button-main" (click)="showPrompt()">Add/Remove Reps</button>
<button class="mat-button-main">Report</button>

{{daysList|json}}
<mat-form-field class="days-dropdown">
  <mat-label>Delivery Days</mat-label>
  <mat-select
    [formControl]="days"
    multiple
    disableOptionCentering
    panelClass="days-offset"
  >
    <mat-select-trigger>
      {{days && days.length?days.value[0].text:''}}
      <span
        *ngIf="((days.value?.length || 0) > 1)"
        class="example-additional-selection"
      >
        (+{{(days.value?.length || 0) - 1}} {{days.value?.length === 2 ? 'other'
        : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let day of dayList" [value]="day"
      >{{day.text}}</mat-option
    >
  </mat-select>
</mat-form-field>
<button (click)="days.setValue([])" class="btn-cleardays">Clear Days</button>
<br />
<br />
<!-- {{ displayedColumns | json }} -->
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  multiTemplateDataRows
  class="mat-elevation-z8"
  cdkDropListGroup
>
  <!-- toggle columns menu -->
  <ng-container matColumnDef="{{toggleColDef}}">
    <th mat-header-cell *matHeaderCellDef>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="table-config-menu my-wrench"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >build</mat-icon
        >
        <mat-menu #menu="matMenu">
          <span class="table-config-menu-label">Edit Columns</span>
          <div
            class="table-config-menu-options"
            style="display: flex; flex-direction: column; padding: 8px"
          >
            <mat-checkbox
              *ngFor="let cd of columnDefinitions; let i = index"
              [checked]="isColumnVisible(cd.def)"
              (change)="toggleColumn(cd.def, $event.checked)"
            >
              {{cd.label}}
            </mat-checkbox>
          </div>
        </mat-menu>
      </button>
    </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container
    matColumnDef="{{column}}"
    *ngFor="let column of columnsToDisplay; let i = index; trackBy column"
  >
    <ng-container>
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropListDropped($event, column)"
        cdkDrag
        (cdkDragStarted)="dragStarted($event, i)"
        [cdkDragData]="{name: column, columnIndex: i}"
      >
        {{column}}
      </th>
      <td mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="checkbox-spacing">
      <mat-icon (click)="toggleExpandElement(element)"
        >{{isElementExpanded(element) ? 'expand_less' :
        'expand_more'}}</mat-icon
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
      cdkDropList
      [cdkDropListData]="{ parent: element, children: element.children }"
      (cdkDropListDropped)="dropElement($event, element)"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="isElementExpanded(element) ? 'expanded' : 'collapsed'"
        *ngFor="let child of element.children; trackBy child"
        cdkDrag
      >
        <div></div>
        <!-- <div class="example-element-diagram">
          <div class="example-element-position">{{child.Name}}</div>
          <div class="example-element-symbol">{{child.symbol}}</div>
          <div class="example-element-name">{{child.name}}</div>
          <div class="example-element-weight">{{child.weight}}</div>
        </div> -->
        <!-- <div class="example-element-description">
          {{child.description}}
          <span class="example-element-description-attribution">
            -- Wikipedia
          </span>
        </div> -->

        <div class="example-element-name expanded-column-spacing">
          {{child.Name}}
        </div>
        <div class="example-element-name expanded-column-spacing">
          {{child.totalcases}}
        </div>
        <div class="example-element-weight expanded-column-spacing">
          {{child.weight}}
        </div>
        <div class="example-element-weight expanded-column-spacing">
          {{child.weight}}
        </div>
        <div class="example-element-deliveryday expanded-column-spacing">
          {{child.DeliveryDays}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="isElementExpanded(element)"
    cdkDropList
    [cdkDropListData]="{ parent: element, children: element.children }"
    (cdkDropListDropped)="dropElement($event, element)"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
