<div [formGroup]="formMain">
  <div formArrayName="details">
    <div *ngFor="let detail of _detailRowNumber; index as i">
      <ng-container [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>Label of a detail</mat-label>
          <input
            id="detail-label"
            matInput
            type="text"
            formControlName="label"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description of a detail</mat-label>
          <input
            id="detail-description"
            matInput
            type="text"
            formControlName="description"
          />
        </mat-form-field>

        <button
          type="button"
          *ngIf="_detailRowNumber.length > 1"
          (click)="decreaseDetailRow(detail)"
          mat-fab
          color="primary"
          aria-label="Remove a new row from the detail list"
        >
          <mat-icon>remove</mat-icon>
        </button>

        <button
          type="button"
          (click)="increaseDetailRow(i)"
          mat-fab
          color="primary"
          aria-label="Add a new row to the detail list"
        >
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
</div>
