<form [formGroup]="MRGChildForm">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="
        text-xs text-gray-700
        uppercase
        bg-gray-50
        dark:bg-gray-700 dark:text-gray-400
      "
    >
      <tr>
        <th scope="col" class="py-3 px-6">Propert</th>
        <th scope="col" class="py-3 px-6">Group</th>
        <th scope="col" class="py-3 px-6">Variable Name</th>
        <th scope="col" class="py-3 px-6">Min Value</th>
        <th scope="col" class="py-3 px-6">Max Value</th>
      </tr>
    </thead>

    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="py-4 px-6">
          <select
            formControlName="property"
            (change)="selectPropertyChangeHandler($event)"
          >
            <option
              *ngFor="let property of propertyList; index as i"
              value="{{ property.id }}"
            >
              {{ property.pname }}
            </option>
          </select>
        </td>
        <td class="py-4 px-6">
          <select
            formControlName="group"
            (change)="selectGroupChangeHandler($event)"
          >
            <option
              *ngFor="let group of groupList; index as i"
              value="{{ group.id }}"
            >
              {{ group.gname }}
            </option>
          </select>
        </td>
        <td class="py-4 px-6">
          <input
            formControlName="variableName"
            type="text"
            id="variable-name"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-700
              dark:border-gray-600
              dark:placeholder-gray-400
              dark:text-white
              dark:focus:ring-blue-500
              dark:focus:border-blue-500
            "
          />
        </td>
        <td class="py-4 px-6">
          <input
            formControlName="minValue"
            type="text"
            id="min-input"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-700
              dark:border-gray-600
              dark:placeholder-gray-400
              dark:text-white
              dark:focus:ring-blue-500
              dark:focus:border-blue-500
            "
          />
        </td>
        <td class="py-4 px-6">
          <input
            formControlName="maxValue"
            type="text"
            id="max-input"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-700
              dark:border-gray-600
              dark:placeholder-gray-400
              dark:text-white
              dark:focus:ring-blue-500
              dark:focus:border-blue-500
            "
          />
        </td>
      </tr>
    </tbody>
  </table>
</form>
