<div class="card flex justify-content-center">
  <p-multiSelect
    [options]="countries"
    [(ngModel)]="selectedCountries"
    placeholder="Select a Country"
    optionLabel="name"
    (onFilter)="onFilter($event)"
  >
    <ng-template pTemplate="empty">
      <div *ngIf="filteredCountryList.length === 0" class="empty-filter">
        (Custom) No results found
      </div>
    </ng-template>
    <ng-template let-value pTemplate="selectedItems">
      <div
        class="inline-flex align-items-center gap-2 px-1"
        *ngFor="let option of value"
      >
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'flag flag-' + option.code.toLowerCase()"
          style="width: 18px"
        />
        <div>{{ option.name }},</div>
      </div>
      <div *ngIf="!value || value.length === 0">Select Countries</div>
    </ng-template>
    <ng-template let-country pTemplate="item">
      <div class="flex align-items-center gap-2">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'flag flag-' + country.code.toLowerCase()"
          style="width: 18px"
        />
        <div>{{ country.name }}</div>
      </div>
    </ng-template>
  </p-multiSelect>
</div>
