<button mat-button [matMenuTriggerFor]="menu" class="table-config-menu">
  <mat-icon aria-hidden="false" aria-label="Example home icon"
    >settings</mat-icon
  >
  <mat-menu #menu="matMenu">
    <span class="table-config-menu-label">Edit Columns</span>
    <div class="table-config-menu-options">
      <mat-checkbox
        *ngFor="let cd of columnDefinitions; let i = index"
        (click)="$event.stopPropagation()"
        [(ngModel)]="cd.visible"
        (ngModelChange)="updateRowHeader()"
      >
        {{cd.label}}
      </mat-checkbox>
    </div>
  </mat-menu>
</button>

<!-- {{ columnDefinitionsSubject | async | json }}
<br />
{{ displayColumns$ | async | json }}
<br /> -->

<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    matColumnDef="{{column}}"
    *ngFor="let column of (displayColumns$ | async)"
  >
    <ng-container *ngIf="column !== 'action'; else action">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>
    <ng-template #action>
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="checkbox-spacing">
        <mat-icon
          (click)="expandedElement = expandedElement === element ? null : element"
          >{{expandedElement === element ? 'expand_less' :
          'expand_more'}}</mat-icon
        >
      </td>
    </ng-template>
  </ng-container>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="example-element-diagram">
          <div class="example-element-position">{{element.position}}</div>
          <div class="example-element-symbol">{{element.symbol}}</div>
          <div class="example-element-name">{{element.name}}</div>
          <div class="example-element-weight">{{element.weight}}</div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution">
            -- Wikipedia
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="columnsToDisplayWithExpand$ | async"
  ></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand$ | async;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
  <!-- <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()">
</tr>
<tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>  -->
</table>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
