/* Page title */
/* ---------------------------------------------------------- */
.title-holder {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}
.table-holder {
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 45px;
  margin-right: 45px;
}
.list-title {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.5px;
  margin: 5px;
}
/* ---------------------------------------------------------- */


/* Table styles */
/* ---------------------------------------------------------- */
.mat-table {
  width: 100%;
}

.float-right {
  float: right;
}
/* ---------------------------------------------------------- */

/* Header styles */
/* ---------------------------------------------------------- */
.mat-header-cell {
  background-color: #393939;
  color: white;
}
.mat-header-cell:not(:first-child) {
  padding-left: 0;
}

/* Style just the text in the header */
.mat-header-cell span {
  font-weight: 600;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}
/* Round the top table corners */
.mat-header-cell:first-child {
  border-top-left-radius: 5px;
}
.mat-header-cell:last-child {
  border-top-right-radius: 5px;
}

.mat-header-row {
  height: 3em;
}

.btn-icon {
  height: 17px;
  width: 17px;
  background-color: #393939;
  border: none;
}

.sort-icon {
  height: 17px;
  width: 17px;
  color: white;
}

::ng-deep .mat-sort-header-arrow {
  position: relative;
  left: -1.5rem;
  display: none!important;
  opacity: 0;
}

.header {
  padding: 5px;
}

.mat-header-cell {
  /* color: red!important; */
  /* display: flex; */
  /* align-content: center; */
}
/* ---------------------------------------------------------- */


/* Column styles */
/* ---------------------------------------------------------- */
.type-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.name-column {
  width: 30%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.amount-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.status-column {
  width: 15%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.date-column {
  width: 20%;
  padding-right: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.state-column {
  width: 5%;
}
/* ---------------------------------------------------------- */

/* Row styles */
/* ---------------------------------------------------------- */
.mat-row:nth-child(2n) {
  background-color: #f2f2f2;
}
/* ---------------------------------------------------------- */

/* Cell styles */
/* ---------------------------------------------------------- */
.state-cell {
  text-align: right;
}
.mat-cell {
  border: none;
}

.green-svg {
  fill: #6dd400;
}
.gray-svg {
  fill: #b2b4b6;
}
/* ---------------------------------------------------------- */