/* Add application styles & imports to this file! */
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
  padding: 25px;

  main {
    margin: 0 auto;
    max-width: 960px;
  }
}

.text-center {
  text-align: center;
}

/* kind of grid */

$paddingValue: 1em;

.two-cols {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;

  > * {
    flex: 1 1 100%;
    // to center content vertically
    display: flex;
    align-items: center;
    justify-content: center;

    > .mat-form-field-wrapper {
      width: 100%;
    }
  }

  > .mat-mdc-form-field + div {
    padding-bottom: 1.34375em;
  }

  .full-w {
    width: 100%;
    padding-right: 0;
    flex: auto;
  }

  .one-mini-button {
    flex: 0 0 auto;
    width: 52px;
  }

  @media (min-width: 415px) {
    > * {
      padding-right: $paddingValue;
      flex: 1 1 calc(50% - 2 * #{$paddingValue});

      &:nth-child(even) {
        padding-right: 0;
      }
    }
  }
}
