<div mat-dialog-title>{{ data?.task ? 'Update Task' : 'Create Task' }}</div>

<mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        type="text"
        placeholder="Enter a title"
      />
    </mat-form-field>

    <app-chip-field
      [control]="subTasksFormControl"
      [controlTitle]="'subtask'"
      [taskId]="data?.task?.id"
    ></app-chip-field>

    <mat-form-field>
      <mat-label>Contacts</mat-label>
      <mat-select formControlName="contacts" multiple [compareWith]="contactCompareWithFn">
        @for (contact of contacts; track contact.id) {
        <mat-option [value]="contact">{{ contact.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onSubmit()" mat-raised-button color="primary" type="submit">
    {{ data?.task ? 'Update Task' : 'Create Task' }}
  </button>
  <button mat-raised-button mat-dialog-close type="button" color="warn">
    Close
  </button>
</mat-dialog-actions>

{{ taskForm.value | json }}
