<div class="home-content container ">
    <h1 class="text-center pt-5 pb-3">Sélection d'un portefeuille </h1>
    <form>
        <div class="row row-cols-3 pt-3">
            <div class="col text-end">
                <label for="nameVariable" class="form-label">Nom du Titulaire</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="nameVariable" style="min-width: 380px" aria-describedby="emailHelp" required>
            </div>
        </div>
        <div class="row row-cols-3 pt-3">
            <div class="col text-end">
                <label for="nameVariable" class="form-label">Intitulé</label>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="nameVariable" style="min-width: 380px" aria-describedby="emailHelp" required>
            </div>
        </div>
        <div class="row row-cols-3 pt-3">
            <div class="col">
            </div>
            <div class="col text-start">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>
</div>