<mat-form-field class="form-field">
  <mat-label>{{ controlTitle | titlecase }}<span>s</span></mat-label>
  <mat-chip-grid
    #chipGrid
    [attr.aria-label]="'Enter ' + controlTitle + 's'"
    [formControl]="control"
  >
    @for (keyword of keywords; track keyword) {
    <mat-chip-row (removed)="removeKeyword(keyword)">
      {{ keyword }}
      <button matChipRemove aria-label="'remove ' + keyword">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    placeholder="New {{ controlTitle }}..."
    [matChipInputFor]="chipGrid"
    (matChipInputTokenEnd)="add($event)"
  />
  <mat-hint>Press enter to add more</mat-hint>
</mat-form-field>
