table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ffa600;
}

th {
  /* row border */
  border: 1px solid #ffa600;
}

td,
td.mat-mdc-cell {
  /* row padding */
  padding: 20px;
  border: 1px solid #ffa600;
}

tr.mat-row {
  /* row border */
  border: 1px solid #ffa600;
}
