<h2>Solution 1</h2>

<table class="container table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Name</th>
      <th scope="col">1 hour</th>
      <th scope="col">30 min.</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of bookAdd">
      <td>img</td>
      <td>{{ item.name }}</td>
      <td *ngFor="let pointer of item.price; index as i">
        {{ pointer }}
        <button
          type="button"
          class="btn btn-dark btn-sm"
          (click)="addTotalPrice(pointer)"
        >
          Add
        </button>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td colspan="3"></td>
      <td>
        <p>
          {{ total }}
        </p>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<h2>Solution 2</h2>

<table class="container table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Name</th>
      <th scope="col">1 hour</th>
      <th scope="col">30 min.</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of bookAdd">
      <td>img</td>
      <td>{{ item.name }}</td>
      <td *ngFor="let pointer of item.price; index as i">
        {{ pointer }}
        <button
          type="button"
          class="btn btn-dark btn-sm"
          (click)="addBookings(item.name, i, pointer)"
        >
          Add
        </button>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td colspan="3"></td>
      <td>
        <p>
          {{ bookingsTotal }}
        </p>
      </td>
    </tr>
  </tbody>
</table>

Selected bookings: {{ booksSelected | json }}
