<nav>
  <ul>
    <li>
      <a (click)="scrollToSection('section-1')" [routerLink]="['/section-1']"
        >Section 1</a
      >
    </li>

    <li>
      <a (click)="scrollToSection('section-2')" [routerLink]="['/section-2']"
        >Section 2</a
      >
    </li>

    <li>
      <a (click)="scrollToSection('section-3')" [routerLink]="['/section-3']"
        >Section 3</a
      >
    </li>

    <li>
      <a (click)="scrollToSection('section-4')" [routerLink]="['/section-4']"
        >Section 4</a
      >
    </li>
  </ul>
</nav>
