<div class="container">
  <!-- <div
    *ngIf="errorMsg"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>{{ errorMsg }}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div> -->

  <form [formGroup]="userForm">
    <div class="col-lg-4 mt-2">
      <label>Employee ID:</label>
      <input type="text" class="form-control" formControlName="id" />
    </div>

    <div class="col-lg-4 mt-2" *ngIf="!getParamId">
      <button
        class="btn btn-primary btn-sm"
        [disabled]="!name || !des ||!photo|| idHasError"
        (click)="userSubmit()"
      >
        Submit!!
      </button>
    </div>

    <!-- <div class="col-lg-4 mt-2" *ngIf="getParamId">
      <button class="btn btn-dark btn-sm" (click)="userUpdate()">Update</button>
    </div> -->
  </form>
</div>

{{ userForm.controls.id.errors | json }}
